@font-face {
    font-family: 'Garage Gothic FB Black';
    src: url('/Garage Gothic FB Black.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Bold';
    src: url('/Garage Gothic FB Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Regular';
    src: url('/Garage Gothic FB Regular.otf') format('opentype');
}

body {
  background: #000;
}

.hidden {
  visibility: hidden;
}

.error-message {
  font-size: 30px;
  line-height: 64px;
  color: #3c3c3b;
}
