@font-face {
    font-family: 'Garage Gothic FB Black';
    src: url('/Garage Gothic FB Black.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Bold';
    src: url('/Garage Gothic FB Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Garage Gothic FB Regular';
    src: url('/Garage Gothic FB Regular.otf') format('opentype');
}

body {
  background: #000;
}

.error-message {
  font-size: 30px;
  line-height: 64px;
  color: #3c3c3b;
}

/* Make it a marquee */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  height: 64px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.marquee .tweets {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}

.marquee .tweet {
  display: inline-block;
}

/* Make it move */
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
