.tweet {
  font-size: 30px;
  color: #3c3c3b;
  padding: 0 18px !important;
  display: flex;
  align-items: center;
}

.tweet img {
  vertical-align: middle;
  margin: 0 12px 0 8px;
}

.author {
  padding: 0 7px 0 7px;
}

.text {
  font-weight: 500;
}
