.tweet {
  font-size: 30px;
  color: #3c3c3b;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.tweet::after {
  content: "";
  display: inline-block;
  margin: 0 32px !important;
  width: 2px;
  height: 45px;
  background: lightgrey;
}

.tweet img {
  vertical-align: middle;
  margin: 0 12px 0 8px;
}

.tweet .image-attached {
  max-height: 64px;
  margin: 0;
  margin-left: 12px;
}

.author {
  padding-right: 12px;
}

.text {
  font-weight: 500;
}
